.nav-item {
  color: greenyellow;
}

.nav-link {
  color: greenyellow;
}

.Monster-extremo img {
  height: 60px;
  width: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.grid-conteiner {
  max-width: 100%;
  display: grid;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto, 1fr);
  gap: 10px;
}

.c1 h1 {
  color: green;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}
.c1 h2 {
  color: green;
  text-align: start;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.c1 p {
  color: greenyellow;
  text-align: center;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}

.c2 img {
  height: 500px;
  width: 100%;
}

.c3 h2 {
  color: green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.c3 p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: greenyellow;
  text-align: center;
}

.c6 video {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.c5 h2 {
  color: green;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.c5 p {
  color: greenyellow;
  text-align: center;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.c5 ul {
  color: greenyellow;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 30px;
  padding: 10px;
}

.c7 h2 {
  color: green;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.c7 p {
  color: greenyellow;
  text-align: center;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.c7 ul li {
  color: greenyellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 0.5px solid green;
  margin: 5px;
  padding: 5px;
}

.c12 {
  background-color: rgba(0, 0, 0, 0);
}
.c12 img {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
}
.c12 h3 {
  color: green;
  text-align: center;
  font-size: 20px;
}
.c12 p {
  color: greenyellow;
  text-align: center;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.c12 h4 {
  color: green;
  text-align: center;
  font-size: 20px;
}
.c12 small {
  color: green;
  margin-left: 30%;
}

header {
  border: 1px solid green;
}
header h1 {
  color: yellow;
  text-align: center;
  margin-top: 15px;
}
header .boton {
  background-color: greenyellow;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
  margin-left: 20px;
}

header img {
  height: 20%;
  width: 40%;
  margin-left: 30%;
}

.grid-conteiner2 h1 {
  color: green;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}
.grid-conteiner2 h2 {
  color: green;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.grid-conteiner2 h3 {
  color: green;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
.grid-conteiner2 ul li {
  color: greenyellow;
  text-align: center;
  margin: 5px;
}

.c1 h2 {
  color: green;
}
.c1 p {
  color: greenyellow;
}

.c2 p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: greenyellow;
  text-align: center;
}

.c3 p {
  color: greenyellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.c4 img {
  height: 300px;
  width: 100%;
}

.c5 img {
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header img {
    height: 100px;
    width: auto;
    margin-left: 45%;
  }
  .caja {
    width: auto;
  }
  .grid-conteiner {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .c1 {
    text-align: center;
    font-size: larger;
    grid-column: 1/3;
  }
  .c2 {
    grid-column: 1/3;
  }
  .c2 img {
    height: 500px;
    width: auto;
    margin-left: 37%;
  }
  .c3 {
    grid-column: 1/3;
  }
  .c4 {
    grid-column: 1/3;
  }
  .c4 img {
    height: 300px;
    width: auto;
    margin-left: 40%;
  }
  .c5 {
    margin-left: 15px;
    grid-column: 1/3;
  }
  .c5 img {
    height: auto;
    width: 700px;
  }
  .c6 {
    grid-column: 1/3;
    height: 500px;
    width: auto;
  }
  .c7 {
    height: 700px;
    width: auto;
  }
  .c7 {
    grid-column: 1/3;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
