








header{
    nav{
        div{
            

                background-color: rgb(255, 255, 255);
                a{
                    color: green;
                    text-decoration: none;
                    font-size: 30px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
                    span{
                        color: blue;
                    }
        
                }
           
            div{
                ul{
                    li{
                        .nav-item{
                            color: blue;
                        }
                        
            }
        }
    }
  }
}
}
