header{
    img{
        height: 20%;
        width: 40%;
        margin-left: 30%;
    }
   
}


.grid-conteiner2{
    
        h1{
            color: green;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 20px;

        }
    
        h2{
            color: green;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }


        h3{
            color: green;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-bottom: 10px;

        }


         ul{
                li{
                    color: greenyellow;
                    text-align: center;
                    margin: 5px;

                }
            }

        }
        .c1{
            h2{
                color: green;
            }
            p{
                color: greenyellow;
            }
        }
        .c2{
            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: greenyellow;
                text-align: center;
            }
        }
        .c3{
            p{
                color: greenyellow;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
            }
        }

        .c4{
            img{
                    height: 300px;
                    width: 100%;
            }
        }

        .c5{
            img{
                    height: 300px;
                    width: 100%;
            }
        }